.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
}

.box {
  border: 2px solid black;
  outline: rgb(2, 31, 2) solid 5px;
  margin: 20px;
  padding: 5px;
  text-align: center;
  animation: fadeIn 2s;
}

.dark-background {
  background:rgb(21, 24, 21);
  margin: 0px;
  margin-bottom: 0px;
  margin-top: 0px; 
}

body {
  background: #20421d;
  animation: fadeInAnimation 1s ease;
  color: white;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bg-NavBar {
  background-color: black;
}

.social-container {
  background: #eee;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgba(82, 77, 12, 0.685);
}
